@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
#heading{
    font-weight: bolder;
    font-size: 2rem;
    color: #050505;
    text-align: center;
    /* position: absolute; */
    padding: 20px;
}

.body{
    /* background-color: #212534; */
    background: url(./pic.jpg) no-repeat center;
    background-size: cover;
    height: 81vh;
    
    
    
}

/* ======================== */
/* Everything here is pretty straight forward so I don't think I have to explain.*/
#butt{
    display: flex;
    /* justify-content: space-around; */
    /* flex-direction: column; */
}
.button{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color: #060202;
    text-decoration: none;
    padding: 20px 30px;
    border: 3px solid #0b0b0e;
    border-radius: 10px;
    margin-top: 1.5rem;
    width: 230px;
    margin-right: 3rem;
    margin-left: 3rem;
    
}

.button:hover{
    animation: pulsate 1s 
    ease-in-out; /*The pulsate animation is added on hover. You could also add this on .button:focus and it will add it when clicking the button as well.*/
}

@keyframes pulsate {
    /* 
        Here we have two shadows. You can add as many as you want by using different offset values as long as you separate it with a comma.
        The values are as follow: offset-x | offset-y | blur-radius | color
    */
    0%{
        box-shadow: 
        0 0 25px #0a0a0a,
        0 0 50px #c20000;
    }
}